@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9 d-none d-md-block">
            <!-- Content for 75% width container -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-4">
                                <img src="image1.jpg" class="img-fluid" alt="Image 1">
                            </div>
                            <div class="col-4">
                                <img src="image2.jpg" class="img-fluid" alt="Image 2">
                            </div>
                            <div class="col-4">
                                <img src="image3.jpg" class="img-fluid" alt="Image 3">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4">
                                <img src="image4.jpg" class="img-fluid" alt="Image 4">
                            </div>
                            <div class="col-4">
                                <img src="image5.jpg" class="img-fluid" alt="Image 5">
                            </div>
                            <div class="col-4">
                                <img src="image6.jpg" class="img-fluid" alt="Image 6">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <!-- Content for 25% width container -->
            <div class="container-fluid" style="background-color: #e0e0e0; height: 480px;">
                <h2>News</h2>
                <!-- Your content here -->
            </div>
        </div>
    </div>
</div>

<hr>

